@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: white;
    display: flex;
    padding-left: calc((100vw - 1440px) / 2);
    padding-right: calc((100vw - 1440px) / 2);
}

body>img {    
    height: 100vh;
    max-height: 1080px;
}

#bg2 {
    display: none;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
}

main[class="container"] {   
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50px 60px 50px 60px;    
}

main[class="container-login"] {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 80px 60px 80px 60px;
}

main header{
    flex: 0.75;
}

#header-login {
    flex: 0.5;
}

main section[class="register-login"] {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-login#login-form {
    flex: 2;
}

main section[class="login"] {
    flex: 1;
}

header {    
    display: flex;
    align-items: flex-start;
}

header p {
    font-family: "Sacramento", cursive;
    font-size: 20px;
    font-weight: 400;
}

header img {
    margin-right: 15px;
}

section[class="register-login"]>p:first-child  {
    margin: 10px 0;
    color: #8E6447;
    font-weight: 600;
    font-size: 22px;
}

section[class="register-login"]>p:nth-child(2)  {
    margin: 10px 0 20px 0;
    color: #4F5665;
    font-weight: 400;
    font-size: 16px;
}

form label {
    font-size: 16px;
    font-weight: 600;
    color: #0B132A;    
}

form img {
    margin-left: 10px;
}

form .input {
    display: flex;
    align-items: center;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    margin: 10px 0 10px 10px;
    border: none;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 12px;
}

form .btn {
    width: 100%;
    background-color: #FF8906;
    border-radius: 6px;
    border: none;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #0B132A;
}

form .btn:hover {
    background-color: #fca23c;
    /* border: 4px solid #ff0000; */
    cursor: pointer;
    font-weight: bold;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}


.login p:first-child {
    font-size: 16px;
    font-weight: 400;
}

.login-option {    
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-option img {
    margin-right: 20px;
}

.login-facebook, .login-google {
    display: flex;
    justify-content: center;
    width: 49%;
    padding: 5px 0 5px;
    border-radius: 5px;    
    box-shadow: 0px 4px 10px 0px #00000014;
    cursor: pointer;
}

p a {
    color: #1100FF;
    font-weight: 900;
    cursor: pointer;
}

@media screen and (min-height: 1081px) {
    main[class="container"] {           
        /* padding-top: calc((100% - (768px - 60px))/2); */
        /* padding-bottom: calc((100% - (768px - 60px))/2); */
        padding: 100px 50px;
    }

    .container-main#container-main-login{
        padding: 200px 0;
    }

    main[class="container-login"] {       
        padding: 0 60px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    #bg1 {
        display: none;
    }

    #bg2 {
        display: block;
    }

    main[class="container"] {
        padding: 10px 20px 15px 20px;
    }

    form .input {        
        margin-bottom: 10px;
    }

    section[class="register-login"]>p:nth-child(2)  {
        margin-bottom: 10px;        
    }
}

@media screen and (max-width: 600px) {   
    
    #bg2 {
        display: none;
    }
}

@media screen and (max-width: 425px) {   
    
    #bg1 {
        display: none;
    }

    main[class="container"] {
        padding: 20px;
    }

    main[class="container-login"] {
        padding: 40px 20px;
    }

    form .input {        
        margin-bottom: 5px;
    }

    section[class="register-login"]>p:nth-child(2)  {
        margin-bottom: 5px;        
    }

    .login-option {
        justify-content: space-evenly;
    }

    .login-facebook, .login-google {
        width: 40px;
        height: 40px;
    }

    .login-option img {
        margin: 0;
    }

    .login-facebook p, .login-google p {
        display: none;        
    }
}

